.shopYet-y {
    .van-nav-bar {
        background-color: #fd6b95;
        .van-icon {
            color: #fff;
        }
        .van-nav-bar__title {
            color: #fff;
        }
        .van-nav-bar__text {
            color: #fff;
        }
    }
    .van-collapse {
        .read-wrapper {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                flex-wrap: wrap;
                .read-wrap {
                    width: 100px;
                    height: 150px;
                    text-align: center;
                    .read {
                        width: 100px;
                        height: 100px;
                        border-radius: 10px;
                    }
                    span {
                        color: #4c4c4c;
                        font-size: 14px;
                        letter-spacing: 1px;
                    }
                }
        }
        .song-wrapper{
            .song-wrap {
                height: 110px;
                width: 375px;
                position: relative;
                left: -16px;
                padding:20px 16px;
                border-top: 1px solid #ccc;
                // line-height: 110px;
                .song {
                     width: 70px;
                     height: 70px;
                     float: left;
                     margin-right: 17px;
                     }
                p {
                    font-size: 14px;
                    font-weight: 700px;
                    letter-spacing: 1px;
                    color: #4c4c4c;
                } 
                span {
                    line-height: 20px;
                }    
            }
        }
          
            
        
    }
}
